# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Asset files
*.jpg
*.png
*.ktx
*.tif

# project files
*.vcxproj
*.filters
*.user
*.sln
*.spv

# directories
bin
bin-int
project/.vs

# Excludes
!tools/genie.exe
